
<h2>Temperature:</h2>
<% temp_hash = {} %>
<% @temps.each do |t| %>
  <h4>Temp: <%= t.temp_in_celsius %></h4>
  <p><%= pretty_date(t.created_at) %></p>
  <% temp_hash[t.created_at] = [t.temp_in_celsius] %>
<% end %>
<h2>Todays temperature</h2>
<%= line_chart(temp_hash) %>



