<html>
<head>
  <title>What's the temperature?</title>
  <% puts request.inspect %>
  <script src="//www.google.com/jsapi"></script>
  <script src="chartkick.js"></script>
</head>
<body>
  <ul>
    <li><a href="/">Home</a></li>

  </ul>
  <%= yield %>
</body>
</html>
